.card {
    text-decoration: none !important;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    //font-weight: 600;
    background: white;
    display: flex;
    flex-flow: column;

    &_center {
        text-align: center;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 10px;
    }

    &__body {
        padding: 10px;
    }
}

.dark .card {
    background: black;
}