+b.contacts
    +e.item
        +e.key Телефон
        +e.val 
            a(href="tel:+89044963326") 8(904)-496-33-26
        +e.val.copy-buffer(copy="89044963326") (
            span Копировать номер
            |)
    +e.item 
        +e.key Email 
        +e.val 
            a(href="mailto:sav.shishak@gmail.com") sav.shishak@gmail.com
    +e.item 
        +e.val 
            a(href="https://vk.com/id229729155" target="_blank") ВКонтакте
    +e.item 
        +e.val 
            a(href="https://t.me/savvashishak" target="_blank") Телеграм
        +e.val.copy-buffer(copy="@savvashishak") (
            span Копировать имя
            |)
