+b.header
    +e.body 
        +e.theme-toggle
            +e.night <i class="fas fa-lightbulb"></i> ночь
            +e.light <i class="far fa-lightbulb"></i> день
        +e.space
        +e.link 
            a(href="/ui-kit.html") UI-kit этого сайта