.service {
    text-align: center;
    text-decoration: none !important;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 5px 5px 5px;
    font-weight: 600;
    background: white;

    &__title {
        font-size: 25px;
        font-weight: 600;
        // color: $primary;
        text-decoration: none !important;
    }

    &__tehnos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        color: gray;
    }

    &__teh {
        padding: 5px;
        border-right: 1px solid gray;

        &:nth-last-child(1) {
            border-right: none !important;
        }
    }

    &__btn {
        width: 100%;
    }
}

.dark .service {
    background: black;
}